body {
    -webkit-text-size-adjust: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header, footer {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 10;
}
header {
    top: 0px;
    background: #db7093;
    height: 40px;
}

footer {
    bottom: 0px;
    height: 40px;
}

section {
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1;
    width: 100%;
    margin: 0px 0px 40px;
}

#list ol {
    list-style-type: none;
    padding: 10px;
    color: #404040;
    margin: 0px 12px;
    padding: 0px;
}

#list .plain {
    position: relative;
    padding-top: 8px;
    height: 30px;
    font-size: 18px;
    border-bottom: solid 1px #f0f0f0;
}

#list .song {
    position: relative;
    height: 40px;
    border-bottom: solid 1px #f0f0f0;
    margin-bottom: 2px;
    margin-top: 4px;
}
#list .song .track, #list .song .length, #list .song .length_separator, #list .song .elapsed {
    position: absolute;
    bottom: 14px;
    font-size: 12px;
}
#list .song .track {
    left: 0px;
}
#list .song .elapsed {
    right: 63px;
    text-shadow: 1px 1px 0px white;
}
#list .song .length_separator {
    right: 50px;
    text-shadow: 1px 1px 0px white;
}
#list .song .length {
    right: 10px;
    text-shadow: 1px 1px 0px white;
}
#list .song .title {
    position: absolute;
    left: 40px;
    top: 10px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 14px;
    text-shadow: 1px 1px 0px white,1px 0px 0px white;
}
#list .song .artist {
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 12px;
}
#list .album {
    position: relative;
    height: 50px;
    border-bottom: solid 1px #f0f0f0;
}
#list .album .date {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 12px;
    color: #808080;
    border: 0px;
}
#list .album .album {
    position: absolute;
    top: 12px;
    left: 50px;
    line-height: 13px;
    text-shadow: 1px 1px 0px white,1px 0px 0px white;
    font-size: 22px;
    border: 0px;
}
#list .album .albumartist {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 14px;
    border: 0px;
}



#current .title {
    position: fixed;
    left: 10px;
    top: 50px;
    width: 100%;
    font-size: 32px;
}

#current .artist {
    width: 100%;
    position: fixed;
    top: 90px;
    left: 10px;
    height: 20px;
    font-size: 26px;
}

#current .elapsed {
    position: fixed;
    top: 50%;
    left: 60%;
    width: 100%;
    height: 100%;
    font-size: 48px;
}

#current .detail {
    position: fixed;
    top: 130px;
    left: 0px;
    list-style-type: none;
    padding: 10px;

}

#current li {
    color: #808080;
}

header, header nav, header nav button {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

header nav button {
    background-color: #db7093;
    width: 33.3333%;
    height: 40px;
}

header nav button:hover {
    background-color: #ff1493;
}
header nav button:active {
    background-color: #FFFFFF;
}

footer, footer nav, footer nav button {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

footer nav button {
    background-color: #db7093;
    width: 33.3333%;
    height: 40px;
}

footer nav button:hover {
    background-color: #ff1493;
}
footer nav button:active {
    background-color: #FFFFFF;
}
