header {
    position: fixed;
    top: 10px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

section {
    position: relative;
    top: 30px;
}

#current .title {
    position: fixed;
    left: 0px;
    top: 40px;
    width: 100%;
    font-size: 32px;
}

#current .artist {
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0px;
    height: 20px;
    font-size: 26px;
}

#current .elapsedbar {
    width: 100%;
    height: 100%;
}

footer, footer nav, footer nav button {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

footer nav button {
    background-color: #db7093;
    width: 33.3333%;
    height: 40px;
}

footer nav button:hover {
    background-color: #ff1493;
}
