body {
    -webkit-text-size-adjust: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header, footer {
    position: fixed;
    z-index: 10;
}
header {
    left: 0px;
    width: 100%;
    top: 0px;
    height: 70px;
}

footer {
    bottom: 0px;
    width: 100%;
}
@media (orientation: portrait) {
    footer {
        height: 140px;
    }
}
@media (orientation: landscape) {
    footer {
        height: 90px;
    }
}


section {
    position: absolute;
    top: 80px;
    z-index: 1;
}

@media (orientation: portrait) {
    section {
        left: 0px;
        width: 100%;
        padding: 0px 0px 150px;
    }
    #list {
        display: none;
    }
}
@media (orientation: landscape) {
    section {
        width: 50%;
        padding: 0px 0px 90px;
    }
    #list {
        left: 0px;
    }
    #main {
        left: 50%;
    }
}

#list ol {
    list-style-type: none;
    padding: 10px;
    color: #404040;
    margin: 0px 12px;
    padding: 0px;
}

#list .plain {
    position: relative;
    padding-top: 8px;
    height: 30px;
    font-size: 18px;
    border-bottom: solid 1px #f0f0f0;
}

#list .song {
    position: relative;
    height: 40px;
    border-bottom: solid 1px #f0f0f0;
    margin-bottom: 2px;
    margin-top: 4px;
}
#list .song .track, #list .song .length, #list .song .length_separator, #list .song .elapsed {
    position: absolute;
    bottom: 14px;
    font-size: 12px;
}
#list .song .track {
    left: 0px;
}
#list .song .elapsed {
    right: 63px;
    text-shadow: 1px 1px 0px white;
}
#list .song .length_separator {
    right: 50px;
    text-shadow: 1px 1px 0px white;
}
#list .song .length {
    right: 10px;
    text-shadow: 1px 1px 0px white;
}
#list .song .title {
    position: absolute;
    left: 40px;
    top: 10px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 14px;
    text-shadow: 1px 1px 0px white,1px 0px 0px white;
}
#list .song .artist {
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 12px;
}
#list .album {
    position: relative;
    height: 50px;
    border-bottom: solid 1px #f0f0f0;
}
#list .album .date {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 12px;
    color: #808080;
    border: 0px;
}
#list .album .album {
    position: absolute;
    top: 12px;
    left: 50px;
    line-height: 13px;
    text-shadow: 1px 1px 0px white,1px 0px 0px white;
    font-size: 22px;
    border: 0px;
}
#list .album .albumartist {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 14px;
    border: 0px;
}



@media (orientation: portrait) {
    #main .title, #main .artist, #main .elapsed, #main .detail {
        position: fixed;
        left: 10px;
    }
}
@media (orientation: landscape) {
    #main .title, #main .artist, #main .elapsed, #main .detail {
        position: fixed;
        left: 50%;
    }
}

#main .title {
    top: 80px;
    width: 100%;
    font-size: 32px;
}

#main .artist {
    width: 100%;
    top: 130px;
    height: 20px;
    font-size: 26px;
}

#main .elapsed {
    top: 50%;
    left: 60%;
    width: 100%;
    height: 100%;
    font-size: 48px;
}

#main .detail {
    position: absolute;
    top: 130px;
    left: 0px;
    list-style-type: none;
    padding: 10px;

}

#main li {
    color: #808080;
}

#main .control {
    position: absolute;
    bottom: 140px;
    right: 10px;
}

#error {
    position: fixed;
    top: 40px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    width: 300px;
    background-color: #ff1493;
    display: none;
}

#error > * {
    margin: 10px;
}

button {
    outline: 0;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgba(255,255,255,0);
}


#menu, #menu nav, #menu nav button {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#menu button {
	position: absolute;
    top: 15px;
    outline: 0;
	width: 40px;
	height: 40px;
}
@media (orientation: landscape) {
    #menu .back {
        left: 10px;
    }
    #menu .main{
        left: 70px;
    }
    #menu .settings {
    	right: 10px;
    }
}
@media (orientation: portrait) {
    #menu .back {
        left: 5%;
    }
    #menu .main{
        left: calc(50% - 20px);
    }
    #menu .settings {
    	right: 5%;
    }
}
#menu button img {
	width: 40px;
	height: 40px;
}

header nav button:hover {
    background-color: #ff1493;
}
header nav button:active {
    background-color: #FFFFFF;
}

#playback {
    width: 210px;
    border: 0px;
    height: 90px;
}
@media (orientation: landscape) {
    #playback {
        position: fixed;
        left: 10px;
        bottom: 0px;
        margin: 0px;
    }
    #playback_volume {
        position: fixed;
        left: 210px;
        width: 70%;
        width: calc(100% - 300px);
        margin: 41px 0;
    }
}
@media (orientation: portrait) {
    #playback {
        margin: 50px auto 0;
    }
    #playback_volume {
        position: fixed;
        bottom: 110px;
        width: 100%;
    }
}
#playback button, #playback button:focus, #playback button img {
    outline: 0;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgba(255,255,255,0);
    height: 90px;
}
#playback button.play img {
    width: 90px;
}

#playback button.prev img {
    width: 60px;
}

#playback button.next img {
    width: 60px;
}

#playback button:hover {
    background-color: #ff1493;
}
#playback button:active {
    background-color: #FFFFFF;
}

#playback_volume input[type="range"] {
    height: 8px;
    width: 90%;
    margin: 0px 5%;
    -webkit-appearance: none;
    background: #404040;
    border-radius: 50px;
}

#playback_volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #404040;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#playback_list button img {
    height: 40px;
}
@media (orientation: landscape) {
    #playback_list button {
        position: absolute;
        top: 25px;
    }
    #playback_list .repeat {
        right: 50px;
    }
    #playback_list .random {
        right: 10px;
    }
}
@media (orientation: portrait) {
    #playback_list button {
        position: absolute;
        top: 75px;
    }
    #playback_list .repeat {
        left: 5%;
    }
    #playback_list .random {
        right: 5%;
    }
}

#submenu {
    position: fixed;
    left: 66.66%;
    width: 33.33%;
    top: 55px;
}
#submenu ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#submenu button {
    width: 100%;
    height: 40px;
    background-color: #d0d0d0;
}
#submenu button:hover {
    width: 100%;
    height: 40px;
    background-color: #c0c0c0;
}
