body {
    -webkit-text-size-adjust: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial,sans-serif;
}

header, footer {
    position: fixed;
    z-index: 10;
}
header {
    left: 0px;
    width: 100%;
    top: 0px;
    height: 70px;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,1.0) 80%,
        rgba(255,255,255,0.0) 100%
    );
}
section {
    position: absolute;
    top: 80px;
    z-index: 1;
}
footer {
    bottom: 0px;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(255,255,255,1.0) 80%,
        rgba(255,255,255,0.0) 100%
    );
}
@media (orientation: portrait) {
    section {
        left: 0px;
        width: 100%;
        padding: 0px 0px 150px;
    }
    #list {
        display: none;
    }
    footer {
        height: 140px;
    }
}
@media (orientation: landscape) {
    section {
        padding: 0px 0px 90px;
    }
    #list {
        left: 0px;
        width: 50%;
    }
    #main {
        left: 50%;
        width: 50%;
    }
    #config {
        left: 0px;
        width: 100%;
    }
    footer {
        height: 90px;
    }
}

#list ol {
    list-style-type: none;
    padding: 10px;
    color: #404040;
    margin: 0px 12px;
    padding: 0px;
}
#list ol li {
    position: relative;
    margin-top: 1px;
    border-bottom: dashed 1px #f0f0f0;
}
#list ol li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#list .plain {
    height: 40px;
}
#list .plain .key {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    font-size: 18px;
    color: #404040;
}
#list .song {
    height: 40px;
}
#list .song span {
    position: absolute;
    position: absolute;
    padding: 10px 0px;
    top: 0px;
    height: 20px;
}
#list .song .track {
    top: 0px;
    left: 0px;
    font-size: 18px;
}
#list .song .elapsed {
    top: 0px;
    right: 65px;
    font-size: 18px;
}
#list .song .length_separator {
    top: 0px;
    right: 57px;
    font-size: 18px;
}
#list .song .length {
    top: 0px;
    right: 10px;
    font-size: 18px;
}
#list .song .title {
    top: 0px;
    left: 50px;
    font-size: 18px;
    width: calc(100% - 120px);
}
#list .song .artist {
    top: 16px;
    left: 50px;
    font-size: 12px;
}
#list .album {
    position: relative;
    height: 80px;
}
#list .album .cover {
    position: relative;
    top: 5px;
    left: 5px;
    width: auto;
    height: 70px;
}
#list .album .album {
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 22px;
    border: 0px;
    width: calc(100% - 80px);
    height: 50px;
    white-space: normal;
    overflow: hidden;
}
#list .album .date {
    position: absolute;
    top: 54px;
    left: 80px;
    font-size: 8px;
    color: #808080;
    border: 0px;
}
#list .album .albumartist {
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 12px;
    border: 0px;
}

#main span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#current_cover {
    position: fixed;
    top: 20%;
    height: 60%;
    z-index: -100;
	background-position: center center; 
	background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

@media (orientation: portrait) {
    #main .title, #main .artist, #main .elapsed_img {
        position: fixed;
        left: 10px;
        width: 100%;
        width: calc(100% - 20px);

    }
    #main .elapsed_img, #main .elapsed_img svg {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    #main .elapsed_img svg {
        height: 100%;
    }
    #current_cover {
        left: 15%;
        width: 70%;
    }
}
@media (orientation: landscape) {
    #main .title, #main .artist, #main .elapsed, #main .elapsed_img {
        position: fixed;
        left: 50%;
        width: 100%;
    }
    #main .elapsed_img {
        top: 0px;
        height: 100%;
    }
    #main .elapsed_img svg {
        width: 50%;
        height: 100%;
    }
    #current_cover {
        left: 57.5%;
        width: 35%;
    }
}

#main .title {
    top: 90px;
    font-size: 20px;
}
#main .artist {
    top: 120px;
    font-size: 20px;
}

#main li {
    color: #808080;
}

#main .control {
    position: absolute;
    bottom: 140px;
    right: 10px;
}

#config h1, #config h3 {
    margin: 10px;
}

#config ul {
    list-style-type: none;
    padding: 0 20px;
}
#config ul li {
    position: relative;
    height: 40px;
    margin-top: 1px;
    border-bottom: dashed 1px #f0f0f0;
}
#config ul li .description {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: #404040;
    padding: 10px 0px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (min-width: 600px) { #config ul li .description {
    width: 50%;
}}
@media (max-width: 600px) { #config ul li .description {
    width: calc(100% - 100px);
}}

#config ul li .value {
    position: absolute;
    top: 5px;
}
@media (min-width: 600px) { #config ul li .value {
    left: 50%;
}}
@media (max-width: 600px) { #config ul li .value {
    right: 0px;
}}

.switch {
    width: 100px;
    height: 30px;
}
.switch input {
    display: none;
}
.switch label, .switch input:checked + label {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #d0d0d0;
}
.switch input:checked + label {
    background-color: #404040;
}
.switch label:before, .switch label:after, .switch input:checked + label:before, .switch input:checked + label:after {
    position: absolute;
    top: 0px;
    content: "";
    display: block; width: 50%;
    height: 24px;
    border-radius: 24px;
}
.switch label:before {
    left: 0px;
    border: solid 3px #404040;
    background-color: #ffffff;
}
.switch label:after {
    left: 44px;
    background-color: transparent;
}
.switch input:checked + label:before {
    border: none;
    background-color: transparent;
}
.switch input:checked + label:after {
    border: solid 3px #404040;
    background-color: #ffffff;
}

#config select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #404040;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 5px 0px 50px;
}


#error {
    position: fixed;
    top: 40px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    width: 300px;
    background-color: #ff1493;
    display: none;
}

#error > * {
    margin: 10px;
}

button {
    outline: 0;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgba(255,255,255,0);
}


#menu, #menu nav, #menu nav button {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#menu button {
	position: absolute;
    top: 15px;
    outline: 0;
	width: 40px;
	height: 40px;
}
@media (orientation: landscape) {
    #menu .back {
        left: 10px;
    }
    #menu .main{
        left: 70px;
    }
    #menu .settings {
    	right: 10px;
    }
}
@media (orientation: portrait) {
    #menu .back {
        left: 5%;
    }
    #menu .main{
        left: calc(50% - 20px);
    }
    #menu .settings {
    	right: 5%;
    }
}
#menu button img {
	width: 40px;
	height: 40px;
}

#playback {
    width: 210px;
    border: 0px;
    height: 90px;
}
@media (orientation: landscape) {
    #playback {
        position: fixed;
        left: 10px;
        bottom: 0px;
        margin: 0px;
    }
    #playback_volume {
        position: fixed;
        left: 210px;
        width: 70%;
        width: calc(100% - 300px);
        margin: 41px 0;
    }
}
@media (orientation: portrait) {
    #playback {
        margin: 50px auto 0;
    }
    #playback_volume {
        position: fixed;
        bottom: 110px;
        width: 100%;
    }
}
#playback button, #playback button:focus, #playback button img {
    outline: 0;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgba(255,255,255,0);
    height: 90px;
}
#playback button.play img {
    width: 90px;
}

#playback button.prev img {
    width: 60px;
}

#playback button.next img {
    width: 60px;
}

#playback_volume input[type=range] {
    height: 8px;
    width: 90%;
    margin: 0px 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #404040;
    border-radius: 50px;
}
#playback_volume input[type=range]::-moz-range-track {
    height: 8px;
    width: 90%;
    margin: 0px 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #404040;
    border-radius: 50px;
}
#playback_volume input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #404040;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
#playback_volume input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #404040;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#playback_list button img {
    height: 40px;
}
@media (orientation: landscape) {
    #playback_list button {
        position: absolute;
        top: 25px;
    }
    #playback_list .repeat {
        right: 50px;
    }
    #playback_list .random {
        right: 10px;
    }
}
@media (orientation: portrait) {
    #playback_list button {
        position: absolute;
        top: 75px;
    }
    #playback_list .repeat {
        left: 5%;
    }
    #playback_list .random {
        right: 5%;
    }
}

#submenu {
    position: fixed;
    left: 66.66%;
    width: 33.33%;
    top: 55px;
}
#submenu ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#submenu button {
    font-size: 14px;
    width: 100%;
    height: 40px;
    background-color: #d0d0d0;
}
#submenu button:hover {
    width: 100%;
    height: 40px;
    background-color: #c0c0c0;
}

button:hover img {
    animation: hover_img 0.5s;
}
button:active img {
    animation: active_img 2s;
}

@keyframes hover_img {
0% {opacity: 0.5;}
100% {opacity: 1.0;}
}
@keyframes active_img {
0% {opacity: 0.5;}
50% {opacity: 0.7;}
100% {opacity: 1.0;}
}
