body,
html {
  position: fixed;
}

body {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  color: #303030;
  transition: color 0.2s 0s ease;
}

body.dark {
  color: #d0d0d0;
  background-color: #000000;
}

input::-moz-focus-inner,
input[type=range]::-moz-focus-outer,
button::-moz-focus-inner {
  border: 0;
}

svg path {
  transition: stroke 0.2s 0s ease, fill 0.2s 0s ease;
}

svg .fill {
  stroke: #404040;
  fill: #404040;
}

svg .stroke {
  stroke: #404040;
  fill: none;
}

.dark svg .fill {
  stroke: #e0e0e0;
  fill: #e0e0e0;
}

.dark svg .stroke {
  stroke: #e0e0e0;
  fill: none;
}

header,
footer {
  position: fixed;
  z-index: 100;
}

.background-overlay {
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s 0s ease;
}

.dark .background-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

header {
  left: 0;
  width: 100%;
  top: 0;
  height: 70px;
}

.tab {
  position: fixed;
  left: 0;
}

.full {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 80;
  box-sizing: border-box;
}

.scrollable {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

.auto-hide-scrollbar .scrollable {
  overflow-y: auto;
}

.fit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#background-image.hide {
  display: none;
}

#background-image {
  z-index: 0;
  background-size: cover;
  filter: blur(0px);
  margin: -5%;
  height: 110%;
  width: 110%;
}

#background-overlay {
  z-index: 1;
}

footer {
  bottom: 0;
  width: 100%;
}

@media (orientation: portrait) {
  .full {
    left: 0;
    width: 100%;
    padding: 70px 0 120px;
  }

  .full.tabbed {
    padding: 130px 0 120px;
  }

  .tab {
    top: 70px;
    height: 50px;
    width: 100%;
  }

  .view-system #system,
  .view-list #list,
  .view-main #main {
    display: block;
  }

  .animation.view-system #system,
  .animation.view-list #list.even,
  .animation.view-main #main {
    animation: show_opacity 100ms linear 0s;
  }

  .animation.view-list #list.odd {
    animation: show_opacity2 100ms linear 0s;
  }

  .view-main #list,
  .view-main #system,
  .view-list #main,
  .view-list #system,
  .view-system #list,
  .view-system #main {
    display: none;
  }

  footer {
    height: 120px;
  }
}

@media (orientation: landscape) {
  .full {
    padding: 70px 0 90px;
  }

  .tab {
    position: fixed;
    top: 70px;
    height: 100%;
    width: 25%;
    background: none;
  }

  .dark .tab {
    background: none;
  }

  .view-system #system,
  .view-list #list,
  .view-list #main,
  .view-main #main,
  .view-main #list {
    display: block;
  }

  .animation.view-system #system,
  .animation.view-list #list.even,
  .animation.view-list #main,
  .animation.view-main #main,
  .animation.view-main #list.even {
    animation: show_opacity 100ms linear 0s;
  }

  .animation.view-list #list.odd,
  .animation.view-main #list.odd {
    animation: show_opacity2 100ms linear 0s;
  }

  .view-main #system,
  .view-list #system,
  .view-system #list,
  .view-system #main {
    display: none;
  }

  #list {
    left: 0;
    width: 50%;
  }

  #main {
    left: 50%;
    width: 50%;
  }

  #system {
    left: 25%;
    width: 75%;
  }

  footer {
    height: 90px;
  }
}

@keyframes show_opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes show_opacity2 {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

#list-items {
  list-style-type: none;
  padding: 0 12px;
  margin: 0;
  box-sizing: border-box;
}

.plain,
.song,
.album {
  display: flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.plain.selected,
.song.selected,
.album.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .plain.selected,
.dark .song.selected,
.dark .album.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.plain {
  align-items: baseline;
}

.plain .key {
  margin: 8px 4px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song {
  align-items: center;
  padding: 8px 4px;
}

.song span {
  margin: 0 8px 0 0;
}

.song svg {
  margin: 0;
  width: 22px;
  height: 22px;
}

.song .title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 23px;
}

.song .artist {
  flex: 1 1 auto;
  opacity: 0.7;
}

.song .track,
.song .artist,
.song .elapsed,
.song .length_separator,
.song .length {
  font-size: 12px;
}

.song .length {
  margin: 0;
}

@media (max-width: 400px), (max-width: 800px) and (orientation: landscape) {
  .song {
    flex-flow: row wrap;
  }

  .song .track,
  .song .length_separator,
  .song .length {
    display: none;
  }

  .song .elapsed {
    margin: 0;
  }

  .song .title {
    flex: 1 1 auto;
  }

  .song .artist {
    flex: 0 1 auto;
    order: 10;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.album {
  display: flex;
  align-items: center;
}

.album .detail {
  display: flex;
  flex-direction: column;
}

.album .img-sq {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  padding: 5px;
}

.album .cover {
  width: auto;
  height: 70px;
  max-height: 100%;
  border-radius: 2px;
}

.album .album {
  font-size: 22px;
}

.album .date {
  font-size: 10px;
}

.album .albumartist {
  font-size: 14px;
}

#main span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#main-cover {
  position: relative;
  width: 70%;
  height: 70%;
  order: -1;
  flex: 0 0 auto;
}

@media (orientation: portrait) {
  #main-cover {
    width: 70vw;
    height: 70vw;
  }
}

@media (orientation: landscape) {
  #main-cover {
    width: 35vw;
    height: 35vw;
  }
}

#main-cover-img {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1%;
}

#main-cover-img.circled {
  background-size: cover;
  border-radius: 100%;
}

#main-elapsed-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 4;
}

#main-elapsed-circle .inactive {
  stroke-opacity: 0.5;
}

#main-elapsed-circle.hide {
  visibility: hidden;
}

#main-title {
  font-size: 20px;
}

#main-artist {
  font-size: 20px;
}

.system-header {
  margin: 10px;
  font-size: 19px;
}

.sub-article {
  padding: 0 20px 30px 20px;
}

.note-header {
  padding: 6px 10px;
  margin: 0;
}

.note {
  padding: 0;
  margin: 0;
}

.note-line {
  margin-top: 1px;
  border-bottom: dashed 1px #404040;
  transition: border-bottom 0.2s 0s ease;
}

.dark .note-line {
  border-bottom: dashed 1px #e0e0e0;
}

.note-line.key-value {
  align-items: center;
  display: flex;
}

.note-description {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
  padding: 8px 0;
}

.note-value-expand {
  flex: 1 1 auto;
}

.sub-article.hide,
.note-header.hide,
.note-line.hide {
  display: none;
}

.information-list {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}

.information-box {
  padding: 0 0 16px 0;
}

.license-box {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 18px;
}

.product-version {
  padding: 0 0 0 6px;
  font-size: 12pt;
}

.product-link {
  font-size: 14px;
}

.license-link {
  font-size: 12px;
}

.product-version,
.product-link,
.license-link {
  color: #404040;
}

.dark .product-version,
.dark .product-link,
.dark .license-link {
  color: #c0c0c0;
}

.config-range {
  padding: 0;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #404040;
  appearance: none;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.2s 0s ease;
}

.dark .config-range {
  background-color: #e0e0e0;
}

.config-range::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  background-color: #404040;
  transition: background-color 0.2s 0s ease;
}

.dark .config-range::-moz-range-track {
  background-color: #e0e0e0;
}

.config-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: solid 3px #404040;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ffffff;
  transition: border 0.2s 0s ease, background-color 0.2s 0s ease;
}

.dark .config-range::-webkit-slider-thumb {
  border: solid 3px #e0e0e0;
  background-color: #202020;
}

.config-range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: solid 3px #404040;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ffffff;
  transition: border 0.2s 0s ease, background-color 0.2s 0s ease;
}

.dark .config-range::-moz-range-thumb {
  border: solid 3px #e0e0e0;
  background-color: #202020;
}

.switch {
  margin: 5px;
  width: 100px;
  height: 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.switch input {
  display: none;
}

.switch label,
.switch input:checked + label {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: solid 3px #404040;
  box-sizing: border-box;
  transition: border 0.2s 0s ease;
}

.dark .switch label,
.dark .switch input:checked + label {
  border: solid 3px #e0e0e0;
}

.switch label:before,
.switch label:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
}

.switch label:before {
  left: -3px;
  background-color: #404040;
  height: 30px;
  width: 40px;
  border-radius: 30px;
  transition: background-color 0.2s 0s ease, width 0.2s 0s ease;
}

.dark .switch label:before {
  background-color: #e0e0e0;
}

.switch label:after {
  left: -3px;
  width: 56px;
  background-color: #ffffff;
  height: 30px;
  border: solid 3px #404040;
  border-radius: 30px;
  box-sizing: border-box;
  transition: background-color 0.2s 0s ease, border 0.2s 0s ease, left 0.2s 0s ease;
}

.dark .switch label:after {
  background-color: #202020;
  border: solid 3px #e0e0e0;
}

.switch input:checked + label:before {
  width: 100px;
}

.switch input:checked + label:after {
  left: 41px;
}

.button-simple {
  border-radius: 24px;
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 18px;
  color: #e0e0e0;
  background-color: #404040;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s 0s ease, color 0.2s 0s ease, padding 0.2s 0s linear;
}

.animation .button-simple:hover {
  animation: hover_img 0.5s linear 0s;
}

.button-simple.active,
.button-simple:active {
  color: #a0a0a0;
  padding: 4px 24px 0 24px;
}

.button-simple:disabled {
  animation: none;
  color: #a0a0a0;
  background-color: #303030;
  padding: 4px 24px 0 24px;
}

.dark .button-simple {
  color: #404040;
  background-color: #e0e0e0;
}

.dark .button-simple.active,
.dark .button-simple:active {
  color: #808080;
}

.dark .button-simple:disabled {
  animation: none;
  color: #808080;
  background-color: #f0f0f0;
}

.tool-select {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #404040;
  font-size: 18px;
  color: #ffffff;
  padding: 5px 5px 0 50px;
  margin: 5px;
  transition: background-color 0.2s 0s ease, color 0.2s 0s ease;
}

.tool-select:-moz-focusring {
  outline: 0;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  transition: none;
}

.dark .tool-select {
  background-color: #e0e0e0;
  color: #404040;
}

.dark .tool-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #404040;
}

#popup-box {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 101;
}

.popup {
  margin: 10px;
  width: 300px;
  padding: 0 5px;
  height: 0;
  background-color: #ffffff;
  transition: padding 0.2s linear 0s, height 0.2s linear 0s;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dark .popup {
  background-color: #404040;
}

.popup.hide {
  padding: 0 5px;
  height: 0;
}

.popup.show {
  padding: 5px;
  height: 90px;
}

.popup-title {
  margin: 5px;
}

.popup-description {
  margin: 5px;
}

button {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app .header-items {
  padding: 20px 10px 10px 10px;
}

.header-item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  width: 32px;
}

.header-item:first-of-type {
  margin: 0;
}

.header-item:nth-of-type(n+2) {
  margin: 0 0 0 10px;
}

.header-item.icon {
  justify-content: center;
}

.header-item.iconlabel {
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  width: 32px;
}

.header-item:hover,
.header-item:active {
  outline: 0;
}

.header-icon {
  width: 32px;
  height: 32px;
  stroke-width: 16;
  transition: width 0.2s 0s ease, height 0.2s 0s ease;
}

.animation .header-item:hover .header-icon {
  animation: hover_img 0.5s linear 0s;
}

.header-item:active .header-icon,
.header-item.active .header-icon {
  width: 28px;
  height: 28px;
}

.header-label {
  flex: 1 1 auto;
  width: 40px;
  margin: 0 4px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-list #menu-back.root {
  visibility: hidden;
}

.view-system #menu-back-content {
  display: none;
}

@media (orientation: portrait) {
  .view-main #menu-main {
    visibility: hidden;
  }

  .view-main #menu-back-content {
    display: none;
  }
}

@media (orientation: landscape) {
  .view-main #menu-back.root {
    visibility: hidden;
  }
}

#control {
  padding: 0 10px;
  border: 0;
  height: 90px;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between;
}

#control-playback {
  display: flex;
  align-items: center;
  justify-content: center;
}

#control-toggleplay,
#control-toggleplay svg {
  height: 90px;
  width: 90px;
}

#control-toggleplay svg {
  stroke-width: 8;
  transition: width 0.2s 0s ease, height 0.2s 0s ease;
}

#control-toggleplay:active svg,
#control-toggleplay.active svg {
  height: 81px;
  width: 81px;
}

#control-toggleplay .fill {
  stroke-width: 12;
}

#control-toggleplay .play,
#control-toggleplay .pause {
  opacity: 0;
}

#control-toggleplay.play .play,
#control-toggleplay.pause .pause {
  opacity: 1;
}

#control-prev,
#control-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

#control-prev,
#control-prev svg,
#control-next,
#control-next svg {
  height: 60px;
  width: 60px;
}

#control-prev svg,
#control-next svg {
  stroke-width: 12;
  transition: width 0.2s 0s ease, height 0.2s 0s ease;
}

#control-prev:active svg,
#control-prev.active svg,
#control-next:active svg,
#control-next.active svg {
  height: 54px;
  width: 54px;
}

#control-volume {
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #404040;
  border-radius: 50px;
  flex: 1 1 auto;
}

#control-volume.hide,
#control-volume.disabled {
  visibility: hidden;
}

.dark #control-volume {
  background: #e0e0e0;
}

#control-volume::-moz-range-track {
  height: 8px;
  width: 90%;
  -moz-appearance: none;
  appearance: none;
  background: #404040;
  border-radius: 50px;
}

.dark #control-volume::-moz-range-track {
  background: #e0e0e0;
}

#control-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #404040;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.dark #control-volume::-webkit-slider-thumb {
  background: #e0e0e0;
}

#control-volume::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #404040;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 0;
}

.dark #control-volume::-moz-range-thumb {
  background: #e0e0e0;
}

#control-random,
#control-repeat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 0 0 10px;
}

#control-repeat svg,
#control-random svg {
  width: 32px;
  height: 32px;
}

#control-repeat svg,
#control-random svg {
  stroke-width: 8;
  transition: width 0.2s 0s ease, height 0.2s 0s ease;
}

#control-repeat:active svg,
#control-repeat.active svg,
#control-random:active svg,
#control-random.active svg {
  width: 28px;
  height: 28px;
}

#control-repeat.off svg,
#control-random.off svg {
  opacity: 0.5;
}

@media (orientation: portrait) {
  #control {
    padding: 10px 5%;
  }

  #control-volume {
    width: 100%;
    order: -2;
  }

  #control-repeat {
    order: -1;
  }
}

@media (orientation: landscape) {
  #control-volume {
    margin: 0 5px;
  }
}

.control-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animation .control-button:hover svg {
  animation: hover_img 0.5s linear 0s;
}

.animation .control-button.off:hover svg {
  animation: hover_img_off 0.5s linear 0s;
}

@keyframes hover_img {
  0% {
    opacity: 1.0;
  }

  5% {
    opacity: 0.8;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes hover_img_off {
  0% {
    opacity: 0.5;
  }

  5% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.5;
  }
}

.modal-background,
.modal-outer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  background-color: #ffffff;
  z-index: 1000;
  opacity: 0.6;
}

.animation .modal-background {
  animation: hide-opacity-0.6 0.3s linear 0s;
}

.dark .modal-background {
  background-color: #000000;
}

.modal-outer {
  z-index: 1001;
  display: none;
}

.modal-background.show {
  display: block;
}

.animation .modal-background.show {
  animation: show-opacity-6 0.3s linear 0s;
}

.modal-outer.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation .modal-outer.show {
  animation: show-opacity 0.3s linear 0s;
}

.modal-header {
  font-size: 32px;
}

.modal-header-sub {
  font-size: 19px;
}

.modal-window {
  display: none;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  position: relative;
}

.dark .modal-window {
  background-color: #000000;
}

@keyframes show-opacity-6 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes show-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-window.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close {
  position: absolute;
  top: -15px;
  left: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark .modal-close {
  color: #e0e0e0;
}

.close-icon {
  width: 30px;
  height: 30px;
  transition: width 0.2s 0s ease, height 0.2s 0s ease;
}

.modal-close.active .close-icon,
.modal-close:active .close-icon {
  width: 24px;
  height: 24px;
}

.close-button {
  stroke-width: 24;
}

.modal-window-table {
  padding: 6px;
}

.modal-window-tableitem {
  margin: 6px;
}

.modal-about-img {
  width: 200px;
  height: 200px;
}

.keychar {
  font-family: monospace;
  font-size: 16px;
  background-color: #e0e0e0;
  color: #404040;
  border-radius: 3px;
  padding: 1px 6px;
  margin: 3px;
}

@media (orientation: portrait) {
  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tab-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tab-item {
    padding: 3px 8px;
    color: #e0e0e0;
    font-size: 18px;
    box-sizing: border-box;
    border-style: solid none solid solid;
    border-width: 3px;
    border-color: #404040;
    color: #404040;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .dark .tab-item {
    border-color: #e0e0e0;
    color: #e0e0e0;
  }

  .tab-item:first-child {
    border-radius: 20px 0 0 20px / 20px 0 0 20px;
    padding: 3px 8px 3px 20px;
  }

  .tab-item:last-child {
    border-style: solid;
    border-radius: 0 20px 20px 0 / 0 20px 20px 0;
    padding: 3px 20px 3px 8px;
  }

  .tab-item.on {
    background-color: #404040;
    color: #e0e0e0;
  }

  .dark .tab-item.on {
    background-color: #e0e0e0;
    color: #404040;
  }
}

@media (orientation: landscape) {
  .tab-items {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .tab-item {
    height: 40px;
    font-size: 18px;
    text-align: left;
    padding: 0 20px;
    margin: 0 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #404040;
  }

  .dark .tab-item {
    color: #e0e0e0;
  }

  .tab-item.on {
    background-color: #404040;
    color: #e0e0e0;
    border-radius: 2px;
  }

  .dark .tab-item.on {
    background-color: #e0e0e0;
    color: #404040;
  }
}

.tab-item {
  transition: background-color 0.2s 0s ease, color 0.2s 0s ease;
}

.tab-page {
  display: none;
}

.tab-page.on {
  display: block;
}
